<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrier/barrier_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{512,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,126}}</string>
                <key>sourceSize</key>
                <string>{512,126}</string>
            </dict>
            <key>barrier/barrier_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,120}}</string>
                <key>sourceSize</key>
                <string>{198,120}</string>
            </dict>
            <key>barrier/barrier_short.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{110,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,166}}</string>
                <key>sourceSize</key>
                <string>{110,166}</string>
            </dict>
            <key>birdFly/bird_fly_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,676},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>birdFly/bird_fly_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,627},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>birdFly/bird_fly_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>birdFly/bird_fly_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,584},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>birdFly/bird_fly_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,535},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>birdFly/bird_fly_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,516},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>birdFly/bird_fly_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>birdFly/bird_fly_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,492},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>birdFly/bird_fly_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,443},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>birdFly/bird_fly_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>birdFly/bird_fly_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,400},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>birdFly/bird_fly_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>catRun/cat_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,322},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>catRun/cat_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,270},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>catRun/cat_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>catRun/cat_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,218},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>catRun/cat_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>catRun/cat_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,166},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>catRun/cat_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>catRun/cat_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>catRun/cat_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,114},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>cracker/cracker_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,424},{67,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,96}}</string>
                <key>sourceSize</key>
                <string>{67,96}</string>
            </dict>
            <key>cracker/cracker_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,374},{67,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,96}}</string>
                <key>sourceSize</key>
                <string>{67,96}</string>
            </dict>
            <key>cracker/cracker_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,331},{67,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,96}}</string>
                <key>sourceSize</key>
                <string>{67,96}</string>
            </dict>
            <key>cracker/cracker_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,262},{67,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,96}}</string>
                <key>sourceSize</key>
                <string>{67,96}</string>
            </dict>
            <key>cracker/cracker_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,193},{67,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,96}}</string>
                <key>sourceSize</key>
                <string>{67,96}</string>
            </dict>
            <key>cracker/cracker_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,124},{67,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,96}}</string>
                <key>sourceSize</key>
                <string>{67,96}</string>
            </dict>
            <key>dart/dart_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,781},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dart/dart_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,670},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dart/dart_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,728},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dart/dart_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,670},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dart/dart_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,522},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>enemyRun/enemy_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,768},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,608},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,719},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,666},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,608},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,604},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,362},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,300},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,238},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,176},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>enemyRun/enemy_run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,114},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemyAltlas.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcc62cfde405a414e372a432e973bd5a:1/1$</string>
            <key>textureFileName</key>
            <string>enemyAltlas.png</string>
        </dict>
    </dict>
</plist>
