<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GeeJump001.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{93,86}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{93,86}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>GeeJump002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{119,88}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{119,88}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>GeeJump003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,94}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{119,94}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>GeeRun_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,168},{94,81}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{94,81}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>GeeRun_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,85},{94,81}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{94,81}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>GeeRun_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,85},{94,81}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{94,81}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>GeeRun_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,90},{94,81}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{94,81}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>GeeRun_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,90},{96,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,81}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>GeeRun_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{94,81}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{94,81}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>GeeRun_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{94,81}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{94,81}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>GeeRun_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{94,81}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{94,81}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>GeeRun_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,168},{92,81}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{92,81}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gee.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dae86d618af8d04c45d8e8df03e4b83:1/1$</string>
            <key>textureFileName</key>
            <string>Gee.png</string>
        </dict>
    </dict>
</plist>
